<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/payment.css">

</head>

<body>

    <div class="container">

        <form id="form" class="form" action="http://localhost:3000/api/schedule" method="post">

            <div class="row">



                <div class="col">

                    <h3 class="title"><i class="fa-regular fa-calendar-check"></i>Schedule</h3>


                    <div class="flex">
                        <div class="inputBox">
                            <span>Available day from :</span>
                            <input type="date" name="dayFrom">
                        </div>
                        <div class="inputBox">
                            <span>To :</span>
                            <input type="date" name="dayTo">
                        </div>
                        <div style="display: none;">
                            <input name="userId" type="number" value="<%=user.id%>" >
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                        </div>
                    </div>

                </div>

            </div>

            <input type="submit" value="Add schedule" class="submit-btn">

        </form>

    </div>

</body>

</html>