<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <!-- fonts awesome -->
    <link rel="stylesheet" href="/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Start Footer -->
    <div class="footer" id="footer">
        <div class="container">
        <div class="box">
            <h3>Warm Hands</h3>
            <ul class="social">
                <li>
                <a href="#" class="facebook">
                <i class="fab fa-facebook-f"></i>
                </a>
                </li>
                <li>
                <a href="#" class="twitter">
                <i class="fab fa-twitter"></i>
                </a>
                </li>
                <li>
                <a href="#" class="youtube">
                <i class="fab fa-youtube"></i>
                </a>
                </li>
            </ul>
            <p class="text">
            Follow us on social media to get the latest news.
            </p>
        </div>
        <div class="box">
            <ul class="links">
                <li><a href="/signup" >Sign up</a></li>
                <li><a href="/signin" >Sign in</a></li>
                <li><a href="/aboutus" >About us</a></li>
                <li><a href="#">FAQs</a></li>
                
            </ul>
        </div>
        <div class="box">
        <div class="line">
            <i class="fas fa-map-marker-alt fa-fw"></i>
        <div class="info">Egypt, Cairo, Abu El-feda street, no43</div>
        </div>
        <div class="line">
            <i class="far fa-clock fa-fw"></i>
        <div class="info">Business Hours: From 10:00 To 18:00</div>
        </div>
        <div class="line">
            <i class="fas fa-phone-volume fa-fw"></i>
        <div class="info">
            <span>+2011121314151</span>
            <span>+0223456789</span>
        </div>
        </div>
        <div class="line">
            <i class="fa-solid fa-at"></i>
        <div class="info">
            <span>Warmhands22@gmail.com</span>
            
        </div>
        </div>
        </div>
        <div class="box footer-gallery">
            <img src="/imgs/gallery-01.png" alt="" />
            <img src="/imgs/gallery-02.png" alt="" />
            <img src="/imgs/gallery-03.jpg" alt="" />
            <img src="/imgs/gallery-04.png" alt="" />
            <img src="/imgs/gallery-05.jpg" alt="" />
            <img src="/imgs/gallery-06.png" alt="" />
        </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
    <p class="copyright">Warm Hands</p>
        </div>
    <!-- End Footer -->
</body>
</html>