<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/services.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <!-- fonts awesome -->
    <link rel="stylesheet" href="/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- Start Header -->
    <div class="header" id="header">
    <div class="container">
        <a href="#" class="logo"><img src="/imgs/logoo.png">  Warm Hands</a>
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin" > Sign In</a></li>
                <li><a href="/signup" > Sign Up</a></li>
                <li><a href="/services" > Services</a></li>
                <li><a href="/aboutus" > About us</a></li>
                <li><a href="/contactus" > Contact Us</a></li>
            </ul>
    </div>
    </div>
<!-- End Header -->
<!-- Start landing-->

    <div class="landing">
        <div class="container">
        <div class="text">
            <div class="dots dots-up"></div>
    
            <br> <br>   <br> <br>  <br> <br> <h1>FAQs</h1> <br><br>
        <p>  <b>  -Papers needed to join warm hands as a patient/service provider.</b><br> <br> 
            &nbsp;&nbsp; As a patient you need to upload: National ID, Birth-certtificate, Criminal records certificate, medical analysis, X-rays, medical prescription, and medical report.<br>  
            &nbsp;&nbsp; As a Service provider you need to upload: National ID, Birth-certtificate, Criminal records certificate, education certificate, HR letter, recommendation letters, and experience certificates. <br>
            &nbsp;&nbsp; As a Volunteer you need to upload: National ID, Birth-certtificate, Criminal records certificate, education certificate, and experience certificates. <br><br>
<b> -How can you join Warm hands?</b><br> <br> 
You can simply sign up here. &nbsp;&nbsp;<a class="join" href="/signup">Join us!</a> <br><br>
<b> -What services do we provide?</b><br> <br>
The services we provide are:<br>
1. Daycare: It is a one-day service, where the user only needs our service for one day, for an emergency.<br>
2. Caregiver: This is a minimum of a one-month service, where you ask for a helper for a long period of time
not just a couple of days.<br>
3. Activities: We will provide our patients with places that include activities suitable for their different
conditions, these activities may be related to art, music, sports, or even activities related to their mental
health like support groups.<br>
4. Finding blogs and articles for both education and inspiration in all the fields that may help to keep them
motivated. &nbsp;&nbsp; <a class="join" href="/services"> Read more..</a> <br><br>
<b>-How much do our services cost? </b><br> <br> 
Our services cost 30% from service providers income.
            
            </p>
        </div>
        </div>
        </div>


        
            
        
    </div>   

    
<!-- End landing -->

</body>
</html>