<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <!-- fonts awesome -->
    <link rel="stylesheet" href="/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">

</head>
<body>
<!-- Start Header -->
    <div class="header" id="header">
    <div class="container">
    <a href="#" class="logo"><img src="/imgs/logoo.png">  Warm Hands</a>
        <ul class="main-nav">
            <li><a href="#Join us">Join Us</a>
                <div class="mega-menu">
                    <ul class="links">
                        <li>
                            <a href="/signup" ><i class="fa-regular fa-circle-user"></i> Sign up</a>
                        </li>
                        <li>
                            <a href="/signin" ><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign in</a>
                        </li> </ul>
                </div>
            </li>
            
            <li><a href="#features">Our values</a></li>
            <li>
                <a href="#">Other Links</a>
<!-- Start Megamenu -->
    <div class="mega-menu">
        
        <ul class="links">
            <li>
                <a href="#services"><i class="fa-solid fa-handshake-angle"></i> Our Services</a>
            </li>
            <li>
                <a href="FAQs.html" > <i class="fa-solid fa-clipboard-question"></i></i> &emsp;FAQs</a>
            </li>
            <li>
                <a href="/aboutus" ><i class="fa-regular fa-address-card"></i> About us</a>
            </li>
            
            
        </ul>
        <ul class="links">
            <li>
                <a href="#videos"><i class="fa-solid fa-clapperboard"></i> Top Videos</a>
            </li>
            
            <li>
                <a href="/contactus" ><i class="far fa-comments fa-fw"></i> Contact us</a>
            </li>
            
        </ul>
    </div>
<!-- End Megamenu -->
            </li>
        </ul>
    </div>
    </div>
<!-- End Header -->
<!-- Start Landing -->
    <div class="landing">
    <div class="container">
    <div class="text">
        <h1>Welcome, To Warm Hands</h1>
        <p> Build consciousness, Build the future. <br> Warm hands is here to help.</p>
    </div>
    <div class="image">
        <img src="/imgs/landing.png" alt="" />
    </div>
    </div>
        <a href="#articles" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
        </a>
    </div>
<!-- End Landing -->

<!-- Start Features -->
    <div class="features" id="features">
        <h2 class="main-title">Our values</h2>
    <div class="container">
    <div class="box quality">
    <div class="img-holder"><img src="/imgs/qualityy.png" alt="" /></div>
        <h2>Proficiency</h2> <br> <br><br> <br>
        
        <a href="/aboutus" >More</a>
    </div>
    <div class="box time">
    <div class="img-holder"><img src="/imgs/security.png" alt="" /></div>
        <h2>Security</h2> <br> <br><br> <br>
        <a href="/aboutus" >More</a>
    </div>
    <div class="box passion">
    <div class="img-holder"><img src="/imgs/social.jpg" alt="" /></div>
        <h2>Social assistance</h2><br> <br><br> <br>
    
        <a href="/aboutus" >More</a>
    </div>
    </div>
    </div>
<!-- End Features -->
<!-- Start Services -->
    <div class="services" id="services">
        <h2 class="main-title">Services</h2>
        <div class="dots dots-up"></div>
    <div class="dots dots-down"></div>
    <div class="container">
    <div class="box">
        <i class="fa-solid fa-handshake-angle  fa-4x"></i>
        <h3>Social assistance</h3>
    <div class="info">
        <a href="/services">Details</a>
    </div>
    </div>
    <div class="box">
        <i class="fa-solid fa-puzzle-piece  fa-4x"></i>
        <h3>Activities</h3>
    <div class="info">
        <a href="/services">Details</a>
    </div>
    </div>
    <div class="box">
        <i class="fa-solid fa-book-open-reader  fa-4x"></i>
        <h3>Blogs</h3>
    <div class="info">
        <a href="/services">Details</a>
    </div>
    </div>

    <div class="box">
        <i class="far fa-calendar-alt fa-fw fa-4x"></i> 
        <h3>Events</h3>
    <div class="info">
        <a href="/services">Design</a>
    </div>
    </div>    <div class="box">
        <i class="fa-solid fa-briefcase  fa-4x"></i>
        <h3>Job opportunities</h3>
    <div class="info">
        <a href="/services">Details</a>
    </div>
    </div>
    <div class="box">
        <i class="fa-solid fa-certificate  fa-4x"></i>
        <h3>Experience certificate</h3>
    <div class="info">
        <a href="/services">Details</a>
    </div>
    </div>
    </div>
    </div>
<!-- End Services -->

<!-- Start Videos -->
    <div class="videos" id="videos">
        <h2 class="main-title">Top Videos</h2>
    <div class="container">
    <div class="holder">
    <div class="list">
    <div class="name">
        Top Videos
        <i class="fas fa-random"></i>
    </div>
        <ul>
            <li>Men's 100m T42 | London 2017 World Para Athletics Championships<span>04:49</span></li><iframe width="560" height="315" src="https://www.youtube.com/embed/3RCIrOXTJzA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <li>Powerlifting | Men's +107kg | Mosaad wins Silver | Rio 2016 Paralympic Game <span>02:40</span></li><iframe width="560" height="315" src="https://www.youtube.com/embed/jZA1FkIo-So" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <li>Archery - Stutzman (USA) v Denton (USA) - Men's Ind. Compound Open - London 2012 Paralympics <span>16:53</span></li><iframe width="560" height="315" src="https://www.youtube.com/embed/Sl9vIIx801A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <li>Swimming | Men's 50m Backstroke S4 Final | Rio 2016 Paralympic Games <span>07:34</span></li><iframe width="560" height="315" src="https://www.youtube.com/embed/TM1zVcPrP2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <li>Men's 100m T54 | Final | London 2017 World Para Athletics Championships <span>06:41</span></li><iframe width="560" height="315" src="https://www.youtube.com/embed/-wKBcCiUfdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ul>
    </div>
    
    </div>
    </div>
    </div>
<!-- End Videos -->
<!-- Start Footer -->
    <div class="footer" id="footer">
    <div class="container">
    <div class="box">
        <h3>Warm Hands</h3>
        <ul class="social">
            <li>
            <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li>
            <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
            </a>
            </li>
            <li>
            <a href="#" class="youtube">
            <i class="fab fa-youtube"></i>
            </a>
            </li>
        </ul>
        <p class="text">
        Follow us on social media to get the latest news.
        </p>
    </div>
    <div class="box">
        <ul class="links">
            <li><a href="/signup" >Sign up</a></li>
            <li><a href="/signin" >Sign in</a></li>
            <li><a href="/aboutus" >About us</a></li>
            <li><a href="#">FAQs</a></li>
            
        </ul>
    </div>
    <div class="box">
    <div class="line">
        <i class="fas fa-map-marker-alt fa-fw"></i>
    <div class="info">Egypt, Cairo, Abu El-feda street, no43</div>
    </div>
    <div class="line">
        <i class="far fa-clock fa-fw"></i>
    <div class="info">Business Hours: From 10:00 To 18:00</div>
    </div>
    <div class="line">
        <i class="fas fa-phone-volume fa-fw"></i>
    <div class="info">
        <span>+2011121314151</span>
        <span>+0223456789</span>
    </div>
    </div>
    <div class="line">
        <i class="fa-solid fa-at"></i>
    <div class="info">
        <span>Warmhands22@gmail.com</span>
        
    </div>
    </div>
    </div>
    
    </div>
    <p class="copyright">Warm Hands</p>
    </div>
<!-- End Footer -->
    <script src="main.js"></script>
</body>
</html>