<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/services.css"/>
    <link rel="stylesheet" href="/css/register.css"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <!-- fonts awesome -->
    <link rel="stylesheet" href="/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/66f7f9abfb.js" crossorigin="anonymous"></script>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
<!-- Start Header -->
    <div class="header" id="header">
    <div class="container">
        <a href="#" class="logo"><img src="/imgs/logoo.png">  Warm Hands</a>
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/signin" > Sign In</a></li>
                <li><a href="/signup" > Sign Up</a></li>
                <li><a href="/aboutus" > About us</a></li>
                <li><a href="/contactus" > Contact Us</a></li>
            </ul>
    </div>
    </div>
<!-- End Header -->
<!-- Start landing-->

    <div class="landing">
        <div class="container">
        <div class="text">
            <div class="dots dots-up"></div>
    
            <br> <br>   <br> <br>  <br> <br> <h1>We provide you..</h1> <br>
            <p> <i class="fa-solid fa-handshake-angle"></i><b> Social assistance:</b> is mainly providing an experienced individual to help you with your beloved people, so we can help from a medical perspective through helping with the medications, eating healthy, or physical therapy. We can also keep company through communicating, watching TV, or doing anything they are passionate about. Se we don1t only care about their physical health but also their mental health.
    <br> <br> 
    <i class="far fa-calendar-alt fa-fw "></i>     <b> Activities & Events: </b> we will try connecting people with special needs with each other, to help them have a sense of belonging. We`ll be having various activities including arts, music, sports, support groups, and more to be added.
    <br> <br>          
    <i class="fa-solid fa-book-open-reader  "></i>        <b>Blogs and articles: </b> will be a section targeting families of people with disabilities, it is very informative and inspirational. We know that you face a lot of difficulties dealing with all this, sometimes it's overwhelming so blogs and articles may help you find a solution to the problem you`re facing.
    <br> <br>
    <i class="fa-solid fa-briefcase  "></i>        <b>Job opportunities: </b> You can be a full-time member 'Care giver' or part-time member 'Day care' .
    <br> <br>
    <i class="fa-solid fa-certificate  "></i>        <b>Experience certificate: </b> After finishing your specified period with high rates from patients, you recieve an experience certificate. 
            </p><br><br>
            <a class="button" href="/signup" > &emsp;Sign up</a>
            <br><br>
            <a class="button" href="Signin.html" > &emsp;Sign in</a>
        </div>
        </div>
        </div>


        
            
        
    </div>   

    
<!-- End landing -->

</body>
</html>